
{% extends 'base.html.twig' %}


{% block title %}Edit Book{% endblock %}

{% block body %}
    <div class="container mt-4">
        
            
                <h1 class="row justify-content-center">Изменить книгу</h1>

                {{ include('book/_form.html.twig', {'button_label': 'Обновить'}) }}

                
            
        
    </div>
{% endblock %}
